html{
    height:100vh;
}

body {
    background-color: black;
    background-image: url('../img/snake_background.jpg');
    /*background-position: center;*/
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.mute-btn{
    float: right;
    margin-top: 5vh;
    margin-right: 5vw;
}

header{
    color: white;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:20vh;
}

header h1{
    padding-top:7vh;
    margin-left:7vw;
}

#content{
    /*background-color: #6c757d;*/
    color:black;
    width:100%;
    text-align: center;
    height:60vh;
}

#content a {
    border-radius: 3px;
    text-decoration: none;
    background-color: #212529; /* Green */
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

#info-rules{
    display:none;
}

.tooltip-rules {
    position: relative;
    display: block;
}

.tooltip-rules .tooltip-text {
    visibility: hidden;
    width: 20vw;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-rules .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip-rules:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

#game-begin{
    font-weight: bold;
}

#buttons-play{
    position: relative;
}

.btn-no-clicked{
    color:black;
}

#highscores{
    float:right;
    color:white;
    padding-right:10vw;
}

#highscores table td, #highscores table th{
    padding-right: 2vw;
}
#highscores table{
    margin-left:2vw;
}

#highscore-pro, #highscore-beginner{
    display:none;
}

#scores p{
    margin:0;
 }
#score {
    color:white;
    font-size: 2rem;
    margin-bottom:2vh;
}

canvas{
    width:25vw;
    transform: translate(30%, -5%);
    /*border: black 1px solid;*/
    background-color: #4c4c4c;
    margin-top:5vh;
}

#start-div p{
    color:white;
    font-weight: 700;
}
#start-div-mobile p{
    display:none;
}

.btn-empty{
    background: none;
    border:none;
}

.grid-container {
    display: none;
}
.grid-item {
    margin: 0.5vh;
    font-size: 25px;
    text-align: center;
}

.game-over{
    padding-top:5vh;
    margin-left:20vw;
}

.game-over img{
    width:20vw;
}
.game-over p{
    font-size: x-large;
    color:black;
}

#game-over-text{
    color:white;
    font-weight: 700;
    margin-top:1vh;
    margin-bottom:1vh;
}

#save-score{
    width:20vw;
    margin-left:17vw;
}

footer{
    position:absolute;
    background-color: #2f3034;
    opacity: 0.8;
    bottom:0;
    padding-left:2vw;
    padding-top: 2vh;
    width:100vw;
    height:6vh;
    font-size: medium;
    text-align: center;
    color:white;
}

@media (max-width: 1280px) {
    footer{
        display:none;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
        margin-top:1vh;
    }
    .first-start p{
        color:white;
        font-weight: 700;
        font-size:3vw;
    }
    #highscores table{
       font-size:60%
    }
    #highscores h1{
        font-size:80%;
    }
    canvas{
        width:30vw;
        margin-left:-15vw;
    }

    #info-rules{
        display:block;
    }
    #rules-mobile{
        display:block;
        float: right;
    }
    #info-rules-text p{
        font-size: small;
        position: absolute;
        bottom:2vh;
        left:2vw;
    }

    #start-div{
        display: none!important;
    }
    #start-div-mobile p{
        display:block;
        color:white;
        font-weight: 700;
    }
    .tooltip-rules{
        display:none;
    }
#save-score{
    margin-left:20vw;
}
    #form-name{
        margin-bottom: 2vh;
    }

}

@media (max-width: 767px){
    #save-score{
        margin-left:0;
        width:10vw;
    }
    .game-over{
        margin-left:5vw;
    }
    .game-over img{
        width:40vw;
    }
    #game-over-text{
        font-size: x-small;
    }
    .grid-container{
        position: absolute;
        bottom: 10vh;
        left:3vw;
    }
    #submit{
        margin-left: 17vw;
    }
}
