html{
    /*background-color:#6c757d;*/
}

body {
    background-color: black;
    background-image: url('../img/snake_background.png');
    /*background-position: center;*/
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

header{
    color: white;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:20vh;
}

header h1{
    padding-top:7vh;
}

#content{
    /*background-color: #6c757d;*/
    color:black;
    width:100%;
    text-align: center;
    height:60vh;
}

#content a {
    border-radius: 3px;
    text-decoration: none;
    background-color: #212529; /* Green */
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

#gameBegin{
    font-weight: bold;
}

#rules_mobile{
    display:none;
}

.buttons{
    position: relative;
}

.btn_no_clicked{
    color:black;
}

.tooltip_rules {
    position: relative;
    display: block;
}

.tooltip_rules .tooltiptext {
    visibility: hidden;
    width: 20vw;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip_rules .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip_rules:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

canvas{
    width:25vw;
    transform: translate(30%, -5%);
    /*border: black 1px solid;*/
    background-color: #4c4c4c;
    margin-top:5vh;
}

#image{
    width:100%;
}

#highScores{
    float:right;
    color:white;
    padding-right:10vw;
}

#highScores table td{
    padding-right: 2vw;
}

#scores p{
    margin:0;
 }

#score {
    color:white;
    font-size: 2rem;
    margin-bottom:2vh;
}

.gameOver{
    padding-top:5vh;
    margin-left:20vw;
}

.gameOver img{
    width:20vw;
}
.gameOver p{
    font-size: x-large;
    color:black;
}

.btn_empty{
    background: none;
    border:none;
}

.grid-container {
    display: none;
}
.grid-item {
    margin: 0.5vh;
    font-size: 25px;
    text-align: center;
}

.showMobile{
    display:none;
}

footer{
    position:absolute;
    background-color: #2f3034;
    opacity: 0.8;
    bottom:0;
    padding-left:2vw;
    width:100vw;
    height:6vh;
}

footer p{
    padding-top:2vh;
    font-size: medium;
    text-align:center;
}


@media (max-width: 1280px) {
    .showMobile {
        display:block;
    }
    footer{
        display:none;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
        margin-top:5vh;
    }
    #highScores table{
       font-size:60%
    }
    #highScores h1{
        font-size:80%;
    }
    canvas{
        width:45vw;
        margin-left:5vw;
    }
    #rules_mobile{
        display:block;
    }
    .tooltip_rules{
        display:none;
    }
}

@media (min-width: 1020px) {
    canvas{
        width:25vw;
        margin-left:5vw;
    }
    .grid-container{
        width:30vw;
        height:7vh;
        padding-bottom: 25vh;
        margin:0;
    }
}
